[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Prashil Sureja (prashilsureja)
[access "refs/for/refs/*"]
	read = group user/Prashil Sureja (prashilsureja)
	push = group user/Prashil Sureja (prashilsureja)
	label-Code-Review = -2..+2 group user/Prashil Sureja (prashilsureja)
	label-Verified = -1..+1 group user/Prashil Sureja (prashilsureja)
	rebase = group user/Prashil Sureja (prashilsureja)
	removeReviewer = group user/Prashil Sureja (prashilsureja)
	submit = group user/Prashil Sureja (prashilsureja)
[access "refs/heads/*"]
	read = group user/Prashil Sureja (prashilsureja)
	create = group user/Prashil Sureja (prashilsureja)
	push = +force group user/Prashil Sureja (prashilsureja)
	pushMerge = group user/Prashil Sureja (prashilsureja)
[access "refs/tags/*"]
	push = group user/Prashil Sureja (prashilsureja)
	push = +force group user/Prashil Sureja (prashilsureja)
